___
# Ciência dos Dados - PROJETO 1

## Emanuelle Silva Moço

## Descrever os domicílios brasileiros quanto ao acesso à Internet e à Televisão

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Análise e Resultados

In [103]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [104]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Emanuelle\Documents\Ciência dos Dados\Projeto 1

In [105]:
#Se usar o arquivo descompactado
#pd.read_csv('DOM2015.csv',sep=',')
dados = pd.read_csv('DOM2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [106]:

tabela = dados.loc [:,["UF", "V4621","V0105", "V02322","V02273", "V02274", "V4105"]]


#V02273 Tem televisão com recepçao de sinal digital de tv aberta
#V02274  Tem televisão com antena parabólica

tabela.head()


# "Cor ou raça":dados.V0404,
#"Utilizou internet no ultimo ano":dados.V061111,

   UF   V4621  V0105  V02322  V02273  V02274  V4105
0  11   800.0    1.0     4.0     1.0     3.0      1
1  11     NaN    NaN     NaN     NaN     NaN      1
2  11  1150.0    1.0     2.0     NaN     NaN      1
3  11   793.0    6.0     2.0     1.0     3.0      1
4  11  2900.0    2.0     4.0     NaN     NaN      1

In [112]:
dados_nao_nulos = tabela[pd.notnull(dados.UF)&pd.notnull(dados.V4621)&pd.notnull(dados.V0105)&pd.notnull(dados.V02322)&pd.notnull(dados.V02273)&pd.notnull(dados.V02274)&pd.notnull(dados.V4105)]
dados_nao_nulos = dados_nao_nulos[dados.V4621!=999999999999]


dados_nao_nulos

C:\Users\Emanuelle\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

        UF    V4621  V0105  V02322  V02273  V02274  V4105
0       11    800.0    1.0     4.0     1.0     3.0      1
3       11    793.0    6.0     2.0     1.0     3.0      1
5       11   1990.0    1.0     2.0     1.0     1.0      1
6       11    350.0    2.0     4.0     1.0     3.0      1
7       11   1333.0    3.0     4.0     1.0     3.0      1
8       11    818.0    5.0     2.0     1.0     3.0      1
10      11   1716.0    3.0     2.0     1.0     3.0      1
11      11   2500.0    1.0     2.0     1.0     1.0      1
13      11   1400.0    2.0     2.0     1.0     1.0      1
15      11    666.0    3.0     2.0     1.0     3.0      1
16      11    788.0    1.0     4.0     3.0     1.0      1
17      11    750.0    4.0     2.0     5.0     3.0      1
18      11   1437.0    5.0     2.0     1.0     1.0      1
19      11    600.0    2.0     2.0     5.0     3.0      1
20      11    933.0    3.0     2.0     3.0     1.0      1
21      11   1087.0    4.0     4.0     3.0     3.0      1
23      11   2666.0    3.0     2.0     1.0     3.0      1
26      11    700.0    3.0     4.0     3.0     3.0      1
27      11   3325.0    4.0     2.0     1.0     3.0      1
28      11   3500.0    2.0     2.0     1.0     1.0      1
29      11   1172.0    4.0     2.0     3.0     1.0      1
30      11   1909.0    2.0     4.0     1.0     1.0      1
31      11   3000.0    3.0     2.0     5.0     1.0      1
32      11    366.0    6.0     2.0     3.0     1.0      1
33      11    175.0    4.0     2.0     1.0     1.0      1
35      11    262.0    3.0     4.0     1.0     3.0      1
36      11     36.0    5.0     4.0     1.0     3.0      1
37      11    596.0    3.0     2.0     1.0     1.0      1
39      11    196.0    5.0     2.0     1.0     1.0      1
40      11    788.0    2.0     4.0     1.0     3.0      1
...     ..      ...    ...     ...     ...     ...    ...
151146  53    950.0    2.0     2.0     3.0     3.0      1
151147  53   1109.0    1.0     2.0     1.0     3.0      1
151148  53    283.0    3.0     2.0     3.0     3.0      1
151150  53   1427.0    4.0     2.0     1.0     3.0      1
151151  53    355.0    3.0     2.0     3.0     3.0      1
151153  53   1100.0    2.0     2.0     1.0     3.0      1
151155  53   8700.0    1.0     4.0     1.0     3.0      1
151156  53   5000.0    1.0     2.0     1.0     3.0      1
151158  53   5166.0    3.0     2.0     1.0     1.0      1
151159  53   6066.0    3.0     2.0     1.0     3.0      1
151161  53   6200.0    5.0     2.0     1.0     1.0      1
151163  53   2500.0    5.0     2.0     1.0     3.0      1
151164  53   6000.0    5.0     2.0     1.0     3.0      1
151165  53   7600.0    4.0     2.0     1.0     3.0      1
151167  53   9375.0    4.0     2.0     1.0     3.0      1
151168  53  19850.0    3.0     2.0     3.0     3.0      1
151169  53  10566.0    3.0     2.0     1.0     3.0      1
151170  53  15320.0    2.0     2.0     1.0     1.0      1
151171  53   3250.0    4.0     2.0     1.0     3.0      1
151172  53   1356.0    2.0     4.0     3.0     3.0      1
151173  53    438.0    6.0     2.0     3.0     1.0      1
151175  53    635.0    5.0     2.0     3.0     1.0      1
151179  53    366.0    3.0     4.0     5.0     3.0      1
151181  53    281.0    6.0     4.0     3.0     3.0      1
151182  53    775.0    4.0     2.0     5.0     3.0      1
151184  53    675.0    4.0     4.0     3.0     3.0      1
151185  53    100.0    5.0     4.0     5.0     3.0      1
151186  53    796.0    3.0     2.0     3.0     3.0      1
151187  53    750.0    2.0     4.0     5.0     3.0      1
151188  53    259.0    5.0     2.0     3.0     3.0      1

[111809 rows x 7 columns]

In [108]:
#tabela.head()  #para mostrar os 5 primeiros elemetos

#dados_nao_nulos.to_csv("resumo.csv")
#tabela.to_csv("resumo.csv") #para salvar

In [110]:
#Definindo as variáveis qualitativas como categóricas

dados_nao_nulos.V02322 = dados.V02322.astype('category')
dados_nao_nulos.V02322.cat.categories = (['Sim', 'Não'])



dados_nao_nulos.head()

C:\Users\Emanuelle\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

   UF   V4621  V0105 V02322  V02273  V02274  V4105
0  11   800.0    1.0    Não     1.0     3.0      1
3  11   793.0    6.0    Sim     1.0     3.0      1
5  11  1990.0    1.0    Sim     1.0     1.0      1
6  11   350.0    2.0    Não     1.0     3.0      1
7  11  1333.0    3.0    Não     1.0     3.0      1

In [102]:
#PARA RENOMEAR

#dados_nao_nulos = dados_nao_nulos.rename(columns = {"V4621":"Renda per capita",
 #                                                   "V0105":"Total de moradores",
  #                                                  "V02322":"Acesso à Internet no domicilio",
   #                                                 "V02273":"Tem televisão com recepçao de sinal digital de tv aberta",
    #                                               "V02274" : "Tem televisão com antena parabólica
    #                                                "V4105":"Situação censitária da moradia"                                                    
     #                                              })


#dados_nao_nulos.head()
#V02273 Tem televisão com recepçao de sinal digital de tv aberta
#V02274  Tem televisão com antena parabólica

___
## Conclusão

Descreva aqui suas conclusões!